:root {
    /* Catppuccin Macchiato https://github.com/catppuccin/catppuccin */
    --spacing: 0.5rem;
    --color-base: #24273a;
    font-family: sans-serif;
    --color-green: #a6da95;
    --color-maroon: #ee99a0;
    --color-mauve: #c6a0f6;
    --color-overlay0: #6e738d;
    --color-red: #ed8796;
    --color-surface0: #363a4f;
    --color-surface2: #5b6078;
    --color-text: #cad3f5;
    --color-yellow: #eed49f;
}

body {
    background-color: var(--color-base);
    color: var(--color-text);
    height: calc(100vh - var(--spacing) * 2);
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: clip;
}

.sveltekit-container {
    height: calc(100vh - var(--spacing) * 2);
    width: calc(100vw - var(--spacing) * 2);
}